# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environments
.env
.venv
venv/

# IDE
.vscode/
.idea/

# Output / logs
*.log
*.pdf
*.png
*.h5
output*/
plots/
tests/
results/
data/
ignore/
config2/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
